<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wmays-assignment6.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-011.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>wmays-assignment6</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$wmays-assignment6</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QuotationsContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:isg1zq7sdu.database.windows.net,1433;Initial Catalog=wmays-assignment6_db-quotations;Integrated Security=False;User ID=cheeser12@isg1zq7sdu;Password=!1maxman1!;Connect Timeout=30;Encrypt=True" Name="Server=tcp:isg1zq7sdu.database.windows.net,1433;Database=wmays-assignment6_db-quotations;User ID=cheeser12@isg1zq7sdu;Password=!1maxman1!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Quotations.Models.QuotationsContext, Quotations" MigrationConfiguration="Quotations.Migrations.Configuration, Quotations" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QuotationsContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:isg1zq7sdu.database.windows.net,1433;Initial Catalog=wmays-assignment6_db-quotations;Integrated Security=False;User ID=cheeser12@isg1zq7sdu;Password=!1maxman1!;Connect Timeout=30;Encrypt=True" Name="Server=tcp:isg1zq7sdu.database.windows.net,1433;Database=wmays-assignment6_db-quotations;User ID=cheeser12@isg1zq7sdu;Password=!1maxman1!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Quotations.Models.ApplicationDbContext, Quotations" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuotationsContext-Web.config Connection String">
      <ParameterValue>Server=tcp:isg1zq7sdu.database.windows.net,1433;Database=wmays-assignment6_db-quotations;User ID=cheeser12@isg1zq7sdu;Password=!1maxman1!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="QuotationsContext" />
  </ItemGroup>
</Project>